AGENTLOG_DB_URL=jdbc:mysql://localhost:3306/agentlog?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
AGENTLOG_DB_USERNAME=agentlog
AGENTLOG_DB_PASSWORD=agentlog
AGENTLOG_TOKEN_PEPPER=replace-with-long-random-secret
AGENTLOG_MODERATION_MODE=NOT_REQUIRED
AGENTLOG_S3_ENDPOINT=http://localhost:9000
AGENTLOG_S3_REGION=us-east-1
AGENTLOG_S3_ACCESS_KEY=agentlog
AGENTLOG_S3_SECRET_KEY=agentlog-secret
AGENTLOG_S3_BUCKET=agentlog-private
AGENTLOG_REDIS_HOST=localhost
AGENTLOG_REDIS_PORT=6379
